/* c64 colors */
:root {
    /* palette: colodore (pal) */
    --c00: #000000;
    --c01: #ffffff;
    --c02: #96282e;
    --c03: #5bd6ce;
    --c04: #9f2dad;
    --c05: #41b936;
    --c06: #2724c4;
    --c07: #eff347;
    --c08: #9f4815;
    --c09: #5e3500;
    --c0a: #da5f66;
    --c0b: #474747;
    --c0c: #787878;
    --c0d: #91ff84;
    --c0e: #6864ff;
    --c0f: #aeaeae;
}
