:root {
    /* palette: pepto */
    --c00: #000000;
    --c01: #ffffff;
    --c02: #68372b;
    --c03: #70A4B2;
    --c04: #6F3D86;
    --c05: #588D43;
    --c06: #352879;
    --c07: #B8C76F;
    --c08: #6F4F25;
    --c09: #433900;
    --c0a: #9A6759;
    --c0b: #444444;
    --c0c: #6C6C6C;
    --c0d: #9AD284;
    --c0e: #6C5EB5;
    --c0f: #959595;
}

/* :root {
    palette: vice 
    --c00: #000000;
    --c01: #fdfefc;
    --c02: #be1a24;
    --c03: #30e6c6;
    --c04: #b41ae2;
    --c05: #1fd21e;
    --c06: #211bae;
    --c07: #dff60a;
    --c08: #b84104;
    --c09: #6a3304;
    --c0a: #fe4a57;
    --c0b: #424540;
    --c0c: #70746f;
    --c0d: #59fe59;
    --c0e: #5f53fe;
    --c0f: #a4a7a2;
} */